<section class="section-register">
    <div class="box-register">
        <form action="/users/login" method="POST" class="form-login">
            <h4 class="text-register">Entrar</h4>
            <br>
            <input type="text" name="email" id="email" class="input-register" placeholder="Email" autocomplete="email" required>
            <br>
            <br>
            <input type="password" name="password" id="password" class="input-register" placeholder="Senha" autocomplete="current-password" required>
            <br>
            <br>
            <button type="submit" class="button-register">Entrar</button>
            <br>
        </form>
    </div>
</section>